<section id="services" class="bg-zinc-950 py-24">

  <div class="mx-auto max-w-7xl px-6">

    <!-- Section Title -->

    <div class="mx-auto max-w-3xl text-center">

      <span class="rounded-full border border-yellow-500/30 bg-yellow-500/10 px-5 py-2 text-sm font-semibold text-[#F5C400]">
        Nos Services
      </span>

      <h2 class="mt-6 text-4xl font-black text-white md:text-6xl">
        Tout le matériel pour réussir
        <span class="text-[#F5C400]">vos événements</span>
      </h2>
<div class="mt-12 overflow-hidden rounded-3xl">

    <div class="flex animate-marquee gap-6">


              <img src="src/images/gallery/mariage1.png"
            class="h-72 w-[420px] rounded-2xl object-cover flex-none">
        <img src="src/images/gallery/dj.png"
            class="h-72 w-[420px] rounded-2xl object-cover flex-none">

  

        <img src="src/images/gallery/ecran.png"
            class="h-72 w-[420px] rounded-2xl object-cover flex-none">

        <img src="src/images/gallery/eclairage.png"
            class="h-72 w-[420px] rounded-2xl object-cover flex-none">

        <!-- On répète les images pour une boucle infinie -->

        <img src="src/images/gallery/mariage.png"
            class="h-72 w-[420px] rounded-2xl object-cover flex-none">

        <img src="src/images/gallery/dj.png"
            class="h-72 w-[420px] rounded-2xl object-cover flex-none">

        <img src="src/images/gallery/ecran.png"
            class="h-72 w-[420px] rounded-2xl object-cover flex-none">

        <img src="src/images/gallery/eclairage.png"
            class="h-72 w-[420px] rounded-2xl object-cover flex-none">
             <img src="src/images/gallery/mariage1.png"
            class="h-72 w-[420px] rounded-2xl object-cover flex-none">

        <img src="src/images/gallery/dj.png"
            class="h-72 w-[420px] rounded-2xl object-cover flex-none">

        <img src="src/images/gallery/mariage.png"
            class="h-72 w-[420px] rounded-2xl object-cover flex-none">

    </div>

</div>

    </div>


  </div>

</section>